# Dependencies
node_modules

# Build outputs
dist
build
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage

# Bun
.bun
bun.lockb
lt
localtunnel-server
